@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto+Condensed:400,700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 30px;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #ffffff;
  z-index: 1;
  top: 0px;
  width: 100%;
}

.nav.nav--sticked {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  -webkit-animation-name: popUp;
          animation-name: popUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes popUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

@keyframes popUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.nav.nav--sticked a {
  color: #18191d;
}

.nav.nav--sticked .menu__logo-image {
  display: none;
}

.nav.nav--sticked .menu__logo-image.menu__logo-image--hidden {
  display: inline-block;
}

.nav.nav--sticked .nav-icon__line {
  background: #18191d;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item__link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  color: #333333;
  padding: .25rem 0;
  margin: 0 1.80rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-item__link:hover {
  text-decoration: none;
  color: #b8b3b3;
}

.menu__logo-image.menu__logo-image--hidden {
  display: none;
}

.menu-item__link.menu-item__link--logo {
  margin: 0 4rem;
  margin-bottom: .5rem;
}

.nav-icon {
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  cursor: pointer;
}

.nav-icon__line {
  background: #333333;
  display: block;
  height: 2px;
  width: 30px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.nav-icon__line:nth-child(odd) {
  width: 20px;
  margin: 0 auto;
}

.nav-icon__line:nth-child(even) {
  margin: 5px 0;
  width: 32px;
}

.nav-icon:hover span:nth-child(odd) {
  width: 32px;
}

.responsive-menu-wrapper {
  height: 500px;
}

.full-nav-wrapper {
  background: #f0eeee;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.full-nav-wrapper.open-nav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 99;
}

.full-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 6rem 0;
  color: #000000;
}

.full-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 50vh;
  max-width: 400px;
}

.full-nav-menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background: #f5f5f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 10px solid #ececec;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.full-nav-menu__item:hover {
  background: #000000;
}

.full-nav-menu__item:hover .full-nav-menu__item-link {
  color: white;
}

.full-nav-menu__item-link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4em;
  color: #18191d;
}

.full-nav-menu__item-link:hover {
  text-decoration: none;
}

.list-inline.list-inline {
  padding: 0 .5rem;
}

.social-icons {
  width: 50vw;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 22px;
  padding-left: 5rem;
}

.social-icons-list__item {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  background: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.social-icons-list__item-link {
  color: #bdbdbd;
}

.social-icons-list__item:hover {
  color: #ffffff;
  background: #000000;
}

.social-icons-list__item:hover .social-icons-list__item-link {
  color: #ffffff;
}

.full-nav__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 0 0 0 120px;
}

.full-nav__close-link {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  top: 30px;
  right: 30px;
}

.full-nav__close-link span {
  background: #000000;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}

.full-nav__close-link span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.full-nav__close-link span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.video {
  position: absolute;
  width: 100%;
}

.bx-wrapper .social-icons__item-link {
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  background: #000000;
  border-radius: 100%;
}

.bx-wrapper .social-icons__item-link i {
  position: relative;
  bottom: 7px;
}

.video-container {
  position: absolute;
  top: 30vh;
  width: 100%;
  padding: 0 10px 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-container-content {
  color: #f5f5f5;
  padding: 10px;
  text-align: left;
}

.video-container-content__heading {
  text-transform: uppercase;
}

.video-container-content__heading {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.video-container-content__text {
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 60%;
}

.video-container-content__button {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: 2px solid #f3f3f3;
  background: rgba(248, 248, 248, 0.2);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-top: 20px;
  border-radius: 30px;
  -webkit-animation: shadow-pulse 2s infinite;
          animation: shadow-pulse 2s infinite;
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.2);
            box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(253, 253, 253, 0);
            box-shadow: 0 0 0 15px rgba(253, 253, 253, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.2);
            box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(253, 253, 253, 0);
            box-shadow: 0 0 0 15px rgba(253, 253, 253, 0);
  }
}

.video-container-content__button:hover {
  text-decoration: none;
  color: #fdfdfd;
  background: rgba(247, 246, 246, 0);
}

.responsive-menu {
  height: 500px;
}

.social-icons.social-icons--main {
  width: 100px;
  margin-top: 0;
  line-height: 40px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons.social-icons--main i {
  color: #f3f2f2;
  opacity: .5;
  margin-bottom: 50px;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.social-icons.social-icons--main i:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */